apiVersion: dapr.io/v1alpha
kind: Component
metadata:
  name: ProcessMessage
spec:
  type: bindings.azure.servicebusqueues
  version: v1
  metadata:
  - name: azureTenantId
    value: "[GUID]"
  - name: azureClientId
    value: "[GUID]"
  - name: azureClientSecret
    value: "[SECRET]"
  - name: namespaceName
    value: "[NAME]"
  - name: queueName
    value: "[NAME]"